@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');
@import url('https://fonts.googleapis.com/css?family=Codystar|Raleway+Dots|Share+Tech+Mono');
body{
  font-family: 'Lato', sans-serif;
  margin: 0;

}
.container{
  background-color: black;
}
.bg{
  width: 100%;
  height: 86%;
  background-image: url("images/background2.jpg");
  background-repeat: repeat-x;
  background-size: cover;
  
  color:rgba(7, 247, 7, 0.85);
  font-family: 'Share Tech Mono', monospace;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}
.typewriter h1 {
  overflow: hidden;
  border-right: .10em solid white;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.bg-in1{
  top:60%;
  left:15%;
  position:absolute;
  font-size: 20px;
}
.bg-in1 a{
  font-size: 15px;
  text-decoration: none;
  color:#ccc;
  border-bottom: 1px solid white;

}
.bg-in2 a{
  text-decoration: none;
  color:#888;
  font-size: 25px;
  border-bottom: 1px solid white;
  padding: 5px;
  border-radius: 5px
}
.bg-in2 a:hover{
  color:white;
  box-shadow: 5px 5px 5px #888888;
}
.bg-in2{
  top:60%;
  left:75%;
  position:absolute;
}
.bg-in3{
  top:20%;
  left:45%;
  position:absolute;
}
nav img{
  height: 90px;
}
ul{
  list-style-type: none;
  overflow: hidden;
  float: right;
}
li{
  float: left;
  left:0;
}
li a{
  display: block;
  padding: 15px;
  color:#888;
  text-decoration: none;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 20px;
}
li a:hover{
  color:white;
}
.active{
  color:white;
  border-bottom: 1px solid #ccc;
}

.flex-container{
  text-align: center;
  display: flex;
  left:20%;
  display: -webkit-flex;
  width:950px;
  height: 350px;

}

.flex-item1,.flex-item3{
  background-color: white;
  border: 1px solid #ccc;
  margin:10px;
}
.flex-item2,.flex-item4{
  margin:10px;
  border: 1px solid black;
}
.item2,.item3{
  flex:1;
}
.item1{
  flex:2;
}
.speakers-card{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.paddings-extra {
    padding-top: 20px;
    padding-bottom: 40px;
}
.container1 {
    width: 970px;
}
.row{
  padding-left: 10% ;
  padding-bottom: 2rem;
}
.col-md-6 {
  text-align: center;
    width: 40%;
    float: left;
    position: relative;
    min-height: 1px;
    margin: 15px;
    padding-bottom: 2rem;
}
.bottom-zero {
    margin-bottom: 0px;
}
.lead{
  font-size: 25px;
  font-weight: 300;
    line-height: 1.4;
    border-bottom: 1px solid #333;
}
.clearfix{
  padding:0 15%;
}
.text-center {
    text-align: center;
}
.updates{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin: 2%;
  padding: 2%;
}
.left{
  width: 50%;
  padding: 10px;
}
.right{
  width: 50%;
  padding: 10px;
}
.left,.right{
  float: left;
  min-height: 450px;

}

.hr{

    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-left: 20px;
    border-top: 1px solid #ccc;

}

.sponsers{
  width: 1000px;
	overflow: hidden;
	margin: 50px auto;
	background: white;
}
.photobanner {
	height: 233px;
	width: 3550px;
	margin-bottom: 80px;
}

.bann_img {
	height: 10px;
	width: 50px;
}

#footer-bottom {
    background-color: black;
    font-family: a_love_of_thunderregular,Arial,Helvetica,sans-serif;
    font-size: 15px;
    width: 100%;
    padding-top: 19px;
    padding-left: 10px;
    height: 50px;
    color:white;
    text-transform: uppercase;
}
#footer-bottom a{
  text-decoration: none;
}